target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr


*.db
*.properties

# Logs
*.log
/logs/
temp/

# IntelliJ Personal Styles/Layouts
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.xml
.idea/shelf/
.idea/contentModel.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml

# JavaFX / Native Distributions
/dist/
/out/


maven-unit-tests.log
dump.txt

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store